.container {
    width: 450px;
    background: rgb(230, 230, 230);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 40px;
  }

 
  .h1{
      align-items: center;
  }

  .container h1 {
    text-align: center;
    font-size: 30px;
    color: #155b70;
  }
  
  .container .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px auto;
  }
  
  .input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 25px;
  }
  
  .input-field input::placeholder {
    color: #4e4c4c;
  }
  
  .input-field .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000000;
  }
  
  .container .recall-forget {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
    font-family: Helvetica;

    margin: -15px 0 15px;
  }
  
  .recall-forget label input {
    accent-color: #fff;
    margin-right: 4px;
  }
  
  .recall-forget a {
    color: #4e4c4c;
    text-decoration: none;
  }

  
  .container button {
    width: 100%;
    height: 45px;
    background: #1967A9;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: none;
  }
  
  .container .signup-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .signup-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .signup-link p a:hover {
    text-decoration: underline;
  }
  

  .alert-info {
  width: 100%;
  height: 100%;
  background: #D9EDF7;
  border: 2px solid #c6c7c7; 
  outline: none;
  font-family: Helvetica;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 45px 20px 25px;
}